/** @format */
.main-wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.main-wraper .forMiddleSection {
  padding: 16px;
}
.center-section {
  margin-top: 50px;
  box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
  padding: 24px;
}
.footer-section {
  position: relative;
  margin-top: auto;
  padding-top: 100px;
}
.encode_string {
  margin-top: 70px;
}
