/** @format */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile button {
  border: none;
  outline: none;
  background: unset;
  margin-left: auto;
  height: 40px;
  width: 40px;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  margin-top: -56%;
  right: 0;
}
.holdDivs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 50%;
  top: 5%;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
  position: absolute;
  top: 5%;
  background: #f9f9f9;
  width: 40%;
  padding: 20px;
}
.developer_name {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  color: black;
}

.image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
.social {
  display: flex;
  align-items: center;
}
.holdDivs p {
  text-align: justify;
  font-size: 14px;
}

.services {
  padding-bottom: 30px;
  text-align: center;
}
.services .section-title h2 {
  color: #444;
  font-size: 42px;
}
.services .section-title p {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  color: #666;
}
.services .service-box {
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0 5px #bdbdbd;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 140px;
}
.services .service-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  left: 0px;
  top: -500px;
  z-index: -1;
  transition: 1s;
}
.services .service-box:hover::after {
  top: 0px;
}
.services i {
  display: flex;
  justify-content: center;
}
.services i {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 100%;
  transition: 0.5s;
  color: #28a745;
  font-size: 35px;
  overflow: hidden;
  padding-top: 18px;
  box-shadow: 0px 0 5px #bdbdbd;
  margin: 10px auto 15px;
}
.services h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}
.services h4 a {
  color: #444;
  text-decoration: none;
}
.services h4 a:hover {
  color: #28a745;
}
.services p {
  line-height: 24px;
  font-size: 14px;
}

.applyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 30px;
  overflow: visible;
}
.set_margin {
  margin: auto;
  cursor: pointer;
}

/* css for new design */
.modal-dialog {
  width: 90% !important;
}
.modal-body {
  display: flex;
  gap: 30px;
  align-items: center;
}
.modal-body p {
  text-align: justify;
}
.modal-body .dev_img {
  width: 150px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoRss:hover {
  background-color: #24292f;
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}
.social-circle {
  display: flex !important;
  gap: 8px !important;
  flex-wrap: wrap;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #d3d3d3;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.social_iocns {
  padding: 12px !important;
}
.contact {
  padding: 12px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: unset !important;
  }
}
@media (max-width: 576px) {
  .modal-body {
    flex-direction: column;
  }
  .modal-title h4 {
    font-size: 1rem !important;
  }
  .modal-dialog {
    width: unset !important;
  }
}
